<!DOCTYPE html>
<html>
<head>
    <title>TechNova Solutions</title>
</head>
<body>

    <h1>TechNova Solutions</h1>

    <h2>Our Vision</h2>
    <p>Empowering businesses through technology and innovation.</p>

    <h2>Our Services</h2>
    <ul>
        <li>Data Analytics</li>
        <li>AI Solutions</li>
        <li>Cloud Services</li>
    </ul>

    <hr>

    <a href="/dashboard">View Dashboard</a>


    <hr>

    <h2>Request Demo</h2>

    <form action="/submit" method="POST">

    <input type="text" name="name" placeholder="Your Name" required>
    <br><br>

    <input type="email" name="email" placeholder="Your Email" required>
    <br><br>

    <input type="text" name="phone" placeholder="Phone Number" required>
    <br><br>

    <textarea name="message" placeholder="Your Message"></textarea>
    <br><br>

    <button type="submit">Submit</button>

</form>

</body>
</html>